:root {
  --border-radius: 12px;
  --pink: #ffa7c4;

  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  --bg: #fff;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #d23669;

  background: var(--bg);
  color: var(--textNormal);
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1.75;
  font-size: 100%;
}

body.dark {
  --bg: #282c35;
  --textNormal: hsla(0, 0%, 100%, 0.88);
  --textTitle: #fff;
  --textLink: var(--pink);

  color-scheme: dark;
  background: var(--bg);
  color: var(--textNormal);
}

a {
  box-shadow: 0 1px 0 0 currentColor;
  color: var(--textLink);
  text-decoration: none;
}

a:hover {
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3.5rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
}
